@import './base.css';
@import 'primeicons/primeicons.css';

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

html {
    background-color: #212124;
}